@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: map-get($colors, "bg-color");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

.u-flex {
  display: flex;

  &--center {
    align-items: center;
    justify-content: center;
  }
}
